// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-steps/scss/bootstrap-steps';

// JQuery UI
@import "~jquery-ui/themes/base/all.css";

// Colors
$background-color: #ece0e8;
$color-primary-light: #ca3782;
$color-primary-dark: #1e0b36;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;

.center-v-h {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.artboard {
    background: linear-gradient(
                            to right bottom,
                            rgba($color-primary-dark, 0.65),
                            rgba($color-primary-light, 0.7)
                        );
    background-image: attr(data-url);
}

.vehicle-content {
    fieldset:not(:first-of-type) {
        display: none
    }
}

.file-upload-wrapper {
    $defaultColor: #4daf7c;
    $height: 60px;
    
    position: relative;
    width: 100%;
    height: $height;

    border: solid 1px #4daf7c;
    border-radius: 5px 10px 10px 5px;
    
    &:after {
      content: attr(data-text);
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      padding: 10px 15px;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      height: $height - 20px;
      line-height: $height - 20px;
      color: #999;
      border-radius: 5px 10px 10px 5px;
      font-weight: 300;
    }
    
    &:before {
      content: 'Upload';
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 60px;
      background: $defaultColor;
      color: #fff;
      font-weight: 700;
      z-index: 25;
      font-size: 16px;
      line-height: $height;
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
    }
    
    &:hover {
      &:before {
        background: darken($defaultColor, 10%);
      }
    }
     input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: $height - 20px;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }
  
  
.image-container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */

    img {
        max-width:100%;
        max-height:100%;
        min-height: 200px;
    }

    .content {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1; /* Grey text */
        width: 100%; /* Full width */
        padding: 10px; /* Some padding */
    }
}

div.card {
    margin-top: 10px;
}

.row {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

$col: #E1E2E7;
$col1: #013A20;
$col2:#478C5C;
$col3:#BACC81;
$col4: #CDD193;

.btn-success {
  background-color: $col2;
}
.text-info {
  color: $col1 !important;
}

.btn-info {
  background-color: $col3;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: #c0cf8f;
}

html, body {
  background-color: $col;
}

.bg-col1 {
  background-color: $col1;
}
.bg-col2 {
  background-color: $col2;
}
.bg-col3 {
  background-color: $col3;
}
.bg-col4 {
  background-color: $col4;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: white;
  border-bottom: solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: white;
  border-bottom: solid $col1 !important;
}

// .navbar {
//   min-height: 42px;
// }

.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.pt-4, .py-4 {
  padding-top: 0.5rem !important;
}

.search-result {
  border-color: $col2;
  border-radius: 25px;
  border: 0.75px;
  border-style: solid;
}

.search-padding {
  padding: 15px;
}

.float-right {
  float: right;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.btn {
  margin-right: 3px;
  margin-left: 3px;
}

.btn-xs {
  padding: 0.175rem 0.45rem;
}

.btn-info {
  color: white;
}